<div class="container">
    <form #userForm="ngForm" (submit)="submitForm()">
        <h4>{{getPageTitle()}}</h4>
        <div class="row pt-4 pb-3">
            <label for="firstName" class="col-2">First Name:</label>
            <input class="col-5" name="firstName" id="firstName" type="text" [(ngModel)]="user.firstName">
        </div>
        <div class="row py-3">
            <label for="lastName" class="col-2">Last Name:</label>
            <input class="col-5" name="lastName" id="lastName" type="text" [(ngModel)]="user.lastName">
        </div>
        <div class="row py-3">
            <label for="email" class="col-2">Email:</label>
            <input class="col-5" id="email" name="email" type="email" [(ngModel)]="user.email">
        </div>
       
        <div *ngIf="newUserFormMode === true"  class="row py-3">
            <label for="brand" class="col-2">password:</label>
            <input class="col-5" name="brand" id="brand" type="password" [(ngModel)]="user.password">
        </div>

        <div *ngIf="newUserFormMode === true" class="row py-3">
            <label for="confirm" class="col-2">confirm password:</label>
            <input class="col-5" name="confirm" id="confirm" type="password" [(ngModel)]="user.confirmPassord">
        </div>
        
        <div  class="container py-3 mx-0 px-0">
            <button [disabled]="!userForm.valid" class="pe-2 btn btn-outline btn-sm btn-primary"
                type="submit">{{getSubmitBtnTitle()}}</button>
        </div>
    </form>
</div>